/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BattleConWoI implementation : © <Bryan Jacobs & Craig Lavine> <raptorbonz42@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * battleconwoi.css
 *
 * BattleConWoI stylesheet
 *
 */

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

.bwoiboard {
    height: 300px;
    width: 100%;
}

.bwoispace {
    border: 4px solid black;
    width: 80px;
    height: 80px;
    top: 75px;
    display: inline-block;
    position: relative;
}

.characterSelect {
    display: block;
}

.bwoiCharacter {
    padding: 10px 10px 10px 10px;
    outline: 1px dashed grey;
    display: inline-block;
}
